@import url('reset.css');

#logo
{
	width: 290px;
	height: 258px;
	background: #003663;
}

#logo div
{
	width: 242px;
	height: 234px;
	border: 1px solid white;
	border-top: none;
	margin: 0 23px 23px;
}

#logo div img 
{
	margin: 74px 0 0 23px;
}